<!-- <h2>WELCOME {{customername1}} !</h2> -->
<!-- <div class="btn-group-vertical">
    <br><br>
<a href="/cylinder" class="btn btn-primary btn-lg" role="button" aria-disabled="true">AVAILABLE CYLINDER</a><br><br>
<a href="/profile" class="btn btn-primary btn-lg" role="button" aria-disabled="true">VIEW PROFILE</a><br><br>
<a href="/booked/cylinder" class="btn btn-primary btn-lg" role="button" aria-disabled="true">BOOKED CYLINDER</a><br><br>
<a  class="btn btn-primary btn-lg" aria-disabled="true">LINK BANK ACCOUNT</a><br>
</div> -->
<div class="adjust-group" style="margin-left:8%;">
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View all Cylinder</h5>
                <a  href="/cylinder" role="button" class="btn btn-primary">Available Cylinder</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Booked Cylinders</h5>
                <a href="/booked/cylinder" role="button" class="btn btn-primary">Booked Cylinder</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Account</h5>
                <a href="/profile"  role="button"class="btn btn-primary">View Account</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Link Bank account</h5>
                <a href="/bank"  role="button" class="btn btn-primary">Link Account</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">See transaction</h5>
                <a href="/transaction"  role="button" class="btn btn-primary">Trasaction history</a>
            </div>
        </div>
    </div>
</div>
</div>