<!DOCTYPE html>
<body>
    <div class="container">
        <form>
            <label for="usrname">ADMIN ID</label>
            <input type="text" id="usrname" name="usrname" [(ngModel)]="loginmodule.adminId"
            #ref="ngModel" required>
            <div *ngIf="ref.invalid && (ref.touched || ref.dirty)">
                <p *ngIf="ref.errors?.['required']" class="refErrors" style="color: #e51313">*Admin ID is required</p>
            </div>
            <label for="psw">PASSWORD</label>
            <input type="password" id="psw" name="psw" [(ngModel)]="loginmodule.password"
            #pwdRef="ngModel" required>
            <div *ngIf="pwdRef.invalid && (pwdRef.touched || pwdRef.dirty)">
                <p *ngIf="pwdRef.errors?.['required']"class="refErrors" style="color:#e51313">*Password is required</p>
            </div>
            <button type="submit" class="buttonclass" (click)="adminFunctions()">Submit</button>
        </form>
    </div>
</body>
