.buttonclass{
    width:30%;
    padding: 10px;
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #C68484;
    color: white
}
h2
{
    text-align: center;
}