/* div{
    background-color: rgb(240, 236, 236);
    padding: 5px;    
    
 } */

 @import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: #fff;
  font-family: 'PT Sans', sans-serif;
  align-content: flex-end;
}
h2{
  padding-top: 1.5rem;
}
a{
  color: #333;
}
a:hover{
  color: #579dda;
  text-decoration: none;
}
.card{
  border: 0.20rem solid #f8f9fa;
  top: 10%;

}
.container{
    height: 1100px;
    position: relative;
    margin: 30%;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}
.alert {
    display: none; /* Initially hide the alert */
}

.form-control:focus {

    /* color: #000000; */
    background-color: #ffffff;
    border: 3px solid #579dda;
    outline: 0;
    box-shadow: none;

}

.btn{

  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.btn-primary:hover { 
    background-color: #df8c96;
    border-color: #df8c96;
    transition: .3s;

}
.btn[disabled] {
    background-color: #da5767;
    cursor: not-allowed;
}