.buttonclass{
    width:30%;
    padding: 5px;
    margin-left: 25px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #C68484;
    color: white
}
.passwordcheck{
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 4%;
    width: 40%;
    margin-left: 25%;
}
.btn-primary{
        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        background-color: #C68484;
        color: white
       
    
}
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}