<div class="adjust-group" >
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer List</h5>
                    <a  href="customerlist" role="button" class="btn btn-primary">Customer List</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Today's Delivery</h5>
                    <a href="deliverylist" role="button" class="btn btn-primary">Today's Delivery</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Booking History</h5>
                    <a href="bookinghistory"  role="button"class="btn btn-primary">Customer Booking History</a>
                </div>
            </div>
        </div>
        
        </div>
    </div>