<div class="adjust-group" style="margin-left:10%;">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Cylinder</h5>
                    <a href ="/addCylinder" role="button" class="btn btn-primary">Add Cylinder</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Available Cylinders</h5>
                    <a href="/AllCylinders" role="button" class="btn btn-primary">Available Cylinders</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Booked Cylinders</h5>
                    <a href="/bookedCylinders"  role="button"class="btn btn-primary">Booked Cylinders</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
